<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Dashboard</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>DASHBOARD</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-heading">Management</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/music">
                <i class="bi bi-music-note-beamed"></i>
                <span>Musics List</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link collapsed" href="/album">
                <i class="bi bi-journal-album"></i>
                <span>Albums List</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/artist">
                <i class="bi bi-person-plus"></i>
                <span>Artists List</span>
            </a>
        </li>




        <li class="nav-item">
            <a class="nav-link collapsed" href="/user">
                <i class="bi bi-people"></i>
                <span>Users List</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin">
                <i class="bi bi-person-check"></i>
                <span>Admin List</span>
            </a>
        </li>

        <li class="nav-heading">Logout Management</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/logout">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>

</aside>
<!-- End Sidebar-->